<table style="width: 100%; border-collapse: collapse; background-color: blue;" border="0">
    <tbody>
        <tr style="height: 46px;">
            <td style="width: 8.10382%; height: 46px; text-align: center;"><span style="color: #ffffff;">Home</span>
            </td>
            <td style="width: 10.1282%; height: 46px; text-align: center;"><span style="color: #ffffff;">Services</span>
            </td>
            <td style="width: 9.91859%; height: 46px; text-align: center;"><span style="color: #ffffff;">Donate</span>
            </td>
            <td style="width: 9.91859%; height: 46px; text-align: center;"><span
                    style="color: #ffffff;">Volunteer</span></td>
            <td style="width: 51.8493%; height: 46px; text-align: center;">&nbsp;</td>
            <td style="width: 20%; height: 46px; text-align: center;"><span style="color: #ffffff;">Logoff</span></td>
        </tr>
    </tbody>
</table>
<br>
<h1 style="text-align: center;">Employee Main Menu</h1>
<p>&nbsp;</p>
<center><button>Finances</button><br><br>
    <button>Employees</button><br><br>
    <button>Event Calendar</button><br><br>

</center>